:root {
  --bg: #000000;
  --bg-light: #0e0e0e;
  --bg-lighter: #161618;
  --fg: #ffffffe6;
  --fg-light: #ffffff99;
  --fg-lighter: var(--fg-light);
  --main: #2eaadc;
  --hover: #2eaadc1c;
  --border: #201f22;
  --selection: rgba(46, 170, 220, 0.25);
  --gray: rgba(151, 154, 155, 0.95);
  --brown: rgb(147, 114, 100);
  --orange: rgb(255, 163, 68);
  --yellow: rgb(255, 220, 73);
  --green: rgb(50, 169, 104);
  --blue: rgb(82, 156, 202);
  --purple: rgb(154, 109, 215);
  --pink: rgb(226, 85, 161);
  --red: rgb(218, 47, 35);
  --bg-gray: rgba(126, 128, 129, 0.301);
  --bg-brown: #50331fad;
  --bg-orange: rgba(255, 153, 0, 0.315);
  --bg-yellow: rgba(183, 156, 0, 0.445);
  --bg-green: rgba(50, 129, 47, 0.39);
  --bg-blue: rgba(0, 90, 146, 0.521);
  --bg-purple: rgba(90, 49, 148, 0.349);
  --bg-pink: rgba(243, 61, 158, 0.301);
  --bg-red: rgba(122, 20, 20, 0.623);
}
