/* Text blue */
*[style*="color: rgb(46, 170, 220);"] {
  color: var(--main) !important;
}
*[style*="background: rgb(46, 170, 220);"] {
  background: var(--main) !important;
}
/* Fill blue*/
*[style*="fill: rgb(46, 170, 220);"] {
  fill: var(--main) !important;
}

/* Main background */
div[style*="background: rgb(247, 246, 243);"],
div[style*="background-color: rgb(247, 246, 243)"],
div[style*="background: linear-gradient(rgba(247, 246, 243, 0) 0px, rgb(247, 246, 243) 10px, rgb(247, 246, 243) 100%);"] {
  background: var(--bg) !important;
}
/* Sider Bar, collection view blocks */
*[style*="background: white;"],
*[style*="background-color: white;"] {
  background: var(--bg-light) !important;
}
/* Collection blocks light background */
*[style*="background: rgb(247, 246, 243);"] {
  background: var(--bg-lighter) !important;
}
/* Buttons */
div[style*="background: rgb(46, 170, 220);"] {
  background: var(--main) !important;
}
/* hover background */
div[style*="background: rgba(55, 53, 47, 0.08);"] {
  background: var(--hover) !important;
}
/* collection view border*/
*[style*="border: 1px solid rgb(233, 233, 231)"] {
  border: 1px solid var(--border) !important;
}
*[style*="border-right: 1px solid rgb(238, 238, 237);"],
*[style*="border-right: 1px solid rgb(233, 233, 231);"] {
  border-right: 1px solid var(--border) !important;
}
*[style*="border-bottom: 1px solid rgb(233, 233, 231);"] {
  border-bottom: 1px solid var(--border) !important;
}
*[style*="border-top: 1px solid rgb(233, 233, 231);"] {
  border-top: 1px solid var(--border) !important;
}

/* scrollbar */
.notion-scroller::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: var(--bg-lighter);
}
.notion-scroller::-webkit-scrollbar * {
  background: transparent;
}
.notion-scroller::-webkit-scrollbar-thumb {
  background: var(--main) !important;
  cursor: pointer;
  border-radius: 1.6rem;
}
.notion-scroller::-webkit-scrollbar-track {
  background: var(--bg-lighter);
}
/* Selection */
*::selection,
.notion-selectable-halo {
  background: var(--selection) !important;
}
/* Text background, blocks background, tags background */
*[style="background:rgba(241, 241, 239)"],
div[style*="background: rgb(241, 241, 239);"],
div[style*="background: rgb(227, 226, 224);"] {
  background: var(--bg-gray) !important;
}
*[style="background:rgba(244, 238, 238, 1)"],
div[style*="background: rgb(244, 238, 238);"],
div[style*="background: rgb(238, 224, 218);"] {
  background: var(--bg-brown) !important;
}
*[style="background:rgba(251, 236, 221, 1)"],
div[style*="background: rgb(251, 236, 221);"],
div[style*="background: rgb(250, 222, 201);"] {
  background: var(--bg-orange) !important;
}
*[style="background:rgba(251, 243, 219, 1)"],
div[style*="background: rgb(251, 243, 219);"],
div[style*="background: rgb(253, 236, 200);"] {
  background: var(--bg-yellow) !important;
}
*[style="background:rgba(237, 243, 236, 1)"],
div[style*="background: rgb(237, 243, 236);"],
div[style*="background: rgb(219, 237, 219);"] {
  background: var(--bg-green) !important;
}
*[style="background:rgba(231, 243, 248, 1)"],
div[style*="background: rgb(231, 243, 248);"],
div[style*="background: rgb(211, 229, 239);"] {
  background: var(--bg-blue) !important;
}
*[style="background:rgba(244, 240, 247)"],
div[style*="background: rgba(244, 240, 247, 0.8);"],
div[style*="background: rgb(232, 222, 238);"] {
  background: var(--bg-purple) !important;
}
*[style="background:rgba(249, 238, 243, 0.8)"],
div[style*="background: rgb(249, 238, 243);"],
div[style*="background: rgb(245, 224, 233);"] {
  background: var(--bg-pink) !important;
}
*[style="background:rgba(253, 235, 236, 1)"],
div[style*="background: rgb(253, 235, 236);"],
div[style*="background: rgb(255, 226, 221);"] {
  background: var(--bg-red) !important;
}
/*Text colors && Quotes*/
*[style*="color:rgba(159, 164, 169, 1);"],
*[style*="color:rgb(120, 119, 116);"] {
  color: var(--gray) !important;
}
*[style*="color:rgba(159, 107, 83, 1)"],
*[style*="color:rgb(159, 107, 83);"] {
  color: var(--brown) !important;
}
*[style*="color:rgba(217, 115, 13, 1);"],
*[style*="color:rgb(217, 115, 13);"] {
  color: var(--orange) !important;
}
*[style*="color:rgba(203, 145, 47, 1);"],
*[style*="color:rgb(203, 145, 47);"] {
  color: var(--yellow) !important;
}
*[style*="color:rgba(68, 131, 97, 1));"],
*[style*="color:rgb(68, 131, 97);"] {
  color: var(--green) !important;
}
*[style*="color:rgba(51, 126, 169, 1);"],
*[style*="color:rgb(51, 126, 169);"] {
  color: var(--blue) !important;
}
*[style*="color:rgba(144, 101, 176, 1);"],
*[style*="color:rgb(144, 101, 176);"] {
  color: var(--purple) !important;
}
*[style*="color:rgba(193, 76, 138, 1);"],
*[style*="color:rgb(193, 76, 138);"] {
  color: var(--pink) !important;
}
*[style*="color:rgba(212, 76, 71, 1);"],
*[style*="color:rgb(212, 76, 71);"] {
  color: var(--red) !important;
}
