:root {
  --bg: #1b1826;
  --bg-light: #24283b;
  --bg-lighter: #17141e;
  --fg: #d8dee9;
  --fg-light: #d5d6db;
  --fg-lighter: var(--fg-light);
  --main: #b93a3f;
  --hover: #87bfcf0d;
  --border: #2c2a36;
  --selection: #2eaadc40;
  --gray: #a0a3b3;
  --brown: #e0af68;
  --orange: #ff9e64;
  --yellow: #e7bb63;
  --green: #9ece6a;
  --blue: #7aa2f7;
  --purple: #bb9af7;
  --pink: #f7768e;
  --red: #f14968;
  --bg-gray: #5e5e5e;
  --bg-brown: #965027;
  --bg-orange: #8f5e15;
  --bg-yellow: #ab861e;
  --bg-green: #485e30;
  --bg-blue: #34548a;
  --bg-purple: #5a4a78;
  --bg-pink: #8c4351;
  --bg-red: #d14553d1;
}

/* Change heading text to Neon style */
div[style*="font-size: 40px"],
div[style*="font-size: 1.5em"],
div[style*="font-size: 1.875em"] {
  color: #fff;
  text-shadow: 0 0 1px #acd6f6, 0 0 10px #a1a3d0, 0 0 21px #45a1ce;
}
