:root {
  --bg: #f3f4f9;
  --bg-light: #9b86d5;
  --bg-lighter: #f2eff9;
  --fg: #4d4160;
  --fg-light: #413652;
  --fg-lighter: #594372;
  --main: #34345c;
  --hover: #c0c0ff82;
  --border: #e9e0e5;
  --selection: #46218124;
  --gray: #1a1c23;
  --brown: #af5427;
  --orange: #f77d26;
  --yellow: #f7bf26;
  --green: #3dc9ad;
  --blue: #3fc6de;
  --purple: #8931b9;
  --pink: #e84a72;
  --red: #f43e5c;
  --bg-gray: #ccd2db;
  --bg-brown: #e1c4b4;
  --bg-orange: #ffc690;
  --bg-yellow: #f9e3a0;
  --bg-green: #bdebe2;
  --bg-blue: #c5e2ef;
  --bg-purple: #eae4f2;
  --bg-pink: #f4dfeb;
  --bg-red: #fbe4e4;
}
.notion-sidebar {
  box-shadow: inset -1px 0 0 0 rgb(226 224 221);
}
